/*** architects-pricing grid ***/
.architects-pricing .grid {
	background-color: $white;
	text-align: center;
	border: 2px solid $theme-primary-color3;
	-webkit-box-shadow: -1px 6px 20px -5px lighten($black, 70%);
	-moz-box-shadow: -1px 6px 20px -5px lighten($black, 70%);
	box-shadow: -1px 6px 20px -5px lighten($black, 70%);
	@include transition-time(0.4s);

	@include media-query(991px) {
		border: 1px solid $theme-primary-color3;
		@include round-box-shadow(lighten($black, 35%), 10px, 0);
	}

	.pricing-header {
		background-color: $theme-primary-color3;
		padding: 22px 0;

		@include media-query(991px) {
			padding: 15px 0;
		}

		h3 {
			font-size: 24px;
			color: $white;
			margin: 0;

			@include media-query(991px) {
				font-size: 20px;
			}
		}
	}

	.pricing-details {
		padding: 0 15px;
	}

	.price {
		padding: 30px 0 50px;

		@include media-query(1199px) {
			padding: 30px 0 40px;
		}

		@include media-query(991px) {
			padding: 20px 0 30px;
		}

		.value {
			font-size: 70px;
			color: $theme-primary-color3;
			display: inline-block;
			position: relative;

			@include media-query(1199px) {
				font-size: 50px;
			}

			@include media-query(991px) {
				font-size: 40px;
			}

			span {
				font-size: 22px;
				color: lighten($black, 40%);
				position: absolute;
				top: 0;
				left: -20px;

				@include media-query(991px) {
					font-size: 20px;
				}
			}
		}	

		p {
			font-size: 16px;
			color: lighten($black, 50%);
			margin: 0;
			text-transform: uppercase;

			@include media-query(991px) {
				font-size: 14px;
			}
		}	
	}

	ul li {
		font-size: 18px;
		margin-bottom: 15px;

		@include media-query(991px) {
			font-size: 15px;
		}
	}

	ul li:last-child {
		margin-bottom: 0;
	}

	.purches {
		margin: 45px 0 40px;

		@include media-query(991px) {
			margin: 45px 0 35px;
		}
	}
}

.architects-pricing .grid:hover {
	@include translatingY(-10%);
}