.social-links {
	overflow: hidden;

	li {
		float: left;

		a {
			display: block;
			color: $theme-primary-color;
			text-align: center;

			&:hover {
				color: darken($theme-primary-color, 10%);
			}
		}
	}


}